<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RDLCDemo.Properties.Settings.RDLCDemoDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\RDLCDemoDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="RDLCDemo.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=|DataDirectory|\Northwind.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>