<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="ReportViewerCommon" version="11.0.0.0" targetFramework="net45" />
</packages>